.ant {
    &-divider-horizontal {
        margin: 10px 0;
    }
}

.ant-table {
    background-color: hsla(0, 0%, 100%, 0.001) !important;
    &-container {
        padding: 20px;
        background-color: #fff !important;
        box-shadow: 0 5px 5px hsla(0, 0%, 40%, 0.1);
    }
    &-title {
        margin-bottom: 14px !important;
        padding: 10px !important;
        background-color: #fafafa !important;
    }
    &-footer {
        margin-top: 14px !important;
        padding: 10px !important;
        background-color: #fafafa !important;
    }
}
