.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .simplebar-content {
        display: flex;
        flex-direction: column;
        padding: 10px !important;
    }
    .message {
        margin: 5px;
        max-width: 70%;
        min-width: 40px;
        &__content {
            overflow: hidden;
        }
    }

    .from-me--message {
        background: white;
        border-radius: 5px;
        padding: 6px;
        font-size: 14px;
        font-family: cursive;
        display: flex;
        align-self: flex-end;
    }
    .to-me--message {
        background: white;
        border-radius: 5px;
        padding: 6px;
        font-size: 14px;
        font-family: cursive;
        display: flex;
        align-self: flex-start;
    }

    .from-me--message ~ .from-me--message {
        margin-top: 0px;
    }
    .to-me--message ~ .to-me--message {
        margin-top: 0px;
    }
}
